<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iniciar Sesión</title>
    <!-- Aquí puedes cargar tus archivos estáticos usando Flask, asegúrate de tener la estructura de carpetas correcta -->
    <link rel="stylesheet" href="static/bootstrap-5.3.0-alpha1-dist/resources/css/Bienvenido.css">
</head>
<style>

    *{box-sizing: border-box;}
</style>
<body>
    <center>
        <div>
            <a href="https://www.sena.edu.co/" class="" target="_blank">
                <!-- Ajusta la ruta de la imagen según la estructura de tu proyecto Flask -->
                <img src="static/bootstrap-5.3.0-alpha1-dist/public/imagenes/Logo-de-SENA-png-verde-300x300-1.png" alt=""
                    style="width: 300px; height: 200px;">
            </a>
        </div>
    </center>
    <center>
        <h1>EduControl PC</h1>
    </center>
    <center>
        <div class="section">
            <div class="container">
                <div class="row full-height justify-content-center">
                    <div class="col-12 text-center align-self-center py-5">
                        <input class="checkbox" type="checkbox" id="reg-log" name="reg-log" />
                        <label id="b" for="reg-log"></label>
                        <div class="card-3d-wrap mx-auto">
                            <div class="card-3d-wrapper">
                                <div class="card-front">
                                    <div class="center-wrap">
                                        <div class="section text-center">
                                            <form action="{{ url_for('session.login') }}" method="POST">
                                                
                                                <h4 class="mb-4 pb-3">Bienvenido, Inicie Sesión</h4>

                                                <div class="form-group">
                                                    <input type="text" name="nombreAdministrador" class="form-style"
                                                        placeholder="Ingresa tu nombre" id="Correo"
                                                        autocomplete="off">
                                                    <i class="input-icon uil uil-at"><img
                                                            src="static/bootstrap-5.3.0-alpha1-dist/public/imagenes/correo.png"
                                                            alt="" style="width: 33px; height: 38px;"></i>
                                                </div>
                                                {% if error %}
                                                    <div class="alert alert-danger">{{ error }}</div>
                                                {% endif %}

                                                <div class="form-group mt-2">
                                                    <input type="password" name="contraseña" class="form-style"
                                                        placeholder="Ingresa tu contraseña" id="contrasena"
                                                        autocomplete="off">
                                                    <i class="input-icon uil uil-lock-alt"><img
                                                            src="static/bootstrap-5.3.0-alpha1-dist/public/imagenes/contrasena.png"
                                                            alt="" style="width: 33px; height: 38px;"></i>
                                                </div>
                                                <button type="submit" class="btn btn-primary">Iniciar Sesión</button>
                                            </form>
                                            <p class="mb-0 mt-4 text-center"><a href="#0" class="link">¿Olvidó su
                                                    contraseña?</a></p>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-back">
                                    <div class="center-wrap">
                                        <div class="section text-center">
                                            <form action="{{ url_for('administrador.add') }}" method="post">
                                                <h4 class="mb-4 pb-3">Registro de administrador</h4>
                                                <div class="form-group mt-2">
                                                    <input type="hidden" name="idAdministrador" class="form-style" placeholder="Ingrese su ID" autocomplete="off">
                                                    <input type="text" name="cedulaAdministrador" class="form-style" placeholder="Ingrese su Cédula" autocomplete="off">
                                                    <i class="input-icon uil uil-at"><img src="static/bootstrap-5.3.0-alpha1-dist/public/imagenes/correo.png" alt="" style="width: 33px; height: 38px;"></i>
                                                </div>
                                                <div class="form-group mt-2">
                                                    <input type="text" name="nombreAdministrador" class="form-style" placeholder="Ingrese su Nombre" autocomplete="off">
                                                    <i class="input-icon uil uil-user"><img src="static/bootstrap-5.3.0-alpha1-dist/public/imagenes/usuario.png" alt="" style="width: 33px; height: 38px;"></i>
                                                </div>
                                                <div class="form-group mt-2">
                                                    <input type="text" name="aprellidoAdministrador" class="form-style" placeholder="Ingrese su Apellido" autocomplete="off">
                                                    <i class="input-icon uil uil-user"><img src="static/bootstrap-5.3.0-alpha1-dist/public/imagenes/usuario.png" alt="" style="width: 33px; height: 38px;"></i>
                                                </div>
                                                <div class="form-group mt-2">
                                                    <input type="text" name="telefonoAdministrador" class="form-style" placeholder="Ingrese su Teléfono" autocomplete="off">
                                                    <i class="input-icon uil uil-phone"><img src="static/bootstrap-5.3.0-alpha1-dist/public/imagenes/telefono.png" alt="" style="width: 33px; height: 38px;"></i>
                                                </div>
                                                <div class="form-group mt-2">
                                                    <input type="password" name="contraseña" class="form-style" placeholder="Ingrese una Contraseña" autocomplete="off">
                                                    <i class="input-icon uil uil-lock-alt"><img src="static/bootstrap-5.3.0-alpha1-dist/public/imagenes/contrasena.png" alt="" style="width: 33px; height: 38px;"></i>
                                                </div>
                                                <button type="submit" class="btn btn-primary">Registrarse</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </center>
</body>

</html>


